# Add THAvalon scripts to path
PATH_add "$PWD/scripts"

# Use the THAvalon virtualenv
source "$PWD/venv/bin/activate"

export FLASK_APP="thavalon"
path_add PYTHONPATH "$PWD"

# Load a per-user .env file
if [[ -f .env ]]; then
  dotenv
fi
