<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
.flex-container {
	display: flex;
}
.column3 {
	column-count: 3;
}
.flex-justify {
	justify-content: space-around;
}
.game-div {
	font-size: x-large;
}
.data {
	white-space: pre;
}
</style>
</head>
<body>
<script>

function rerollGameFunc(event){
            gameNum = event.data.param1;
	    console.log("Rerolling Game" + gameNum.toString());
	    url = "http://www.techhouse.org:5000/thavalon?"
            url += "&gameroom=" + gameNum;
	    $.each($(".list-roles:checkbox:checked"), function(){            
		url+="&role=" + $(this).val();
            });
			console.log("Request");
			console.log(url);
	    $.ajax({
		    headers: { 'Access-Control-Allow-Origin' : '*' },
		    url: url,
		    type: "get",
		    success: function (response) {
			if(response == "Success"){
				$("#error-box").text("");	
    				populateGameTime(1);
    				populateGameTime(2);
    				populateGameTime(3);
			} else {
				$("#error-box").text(response);	
			}
		    },
		    error: function (response) {
			console.log("Error");
			console.log(response);
		    }
	    });
}
    
 function createGameFunc(event){
            gameNum = event.data.param1;
	    console.log("Creating Game" + gameNum.toString());
	    var players = $("#players").val().split(" ");
	    url = "http://www.techhouse.org:5000/thavalon?"
	    for (i = 0; i < players.length; i++){
		url += "&player=" + players[i];
	    }
            url += "&gameroom=" + gameNum;
	    $.each($(".list-roles:checkbox:checked"), function(){            
		url+="&role=" + $(this).val();
            });
	    /*checkedRoles = $('.list-roles:checkbox:checked');
	    for(i = 0; i < checkedRoles.length; i++){
		url+="&role=" + checkedRoles[i];
	    }*/
			console.log("Request");
			console.log(url);
	    $.ajax({
		    headers: { 'Access-Control-Allow-Origin' : '*' },
		    url: url,
		    type: "get",
		    success: function (response) {
			console.log("Success");
			console.log(response);
			if(response == "Success"){
				$("#error-box").text("");	
    				populateGameTime(1);
    				populateGameTime(2);
    				populateGameTime(3);
			} else {
				$("#error-box").text(response);	
			}
		    },
		    error: function (response) {
			console.log("Error");
			console.log(response);
		    }
	    });

    }
function populateGameTime(gameNum){
	    console.log("Populating Game Time " + gameNum.toString());
	    url = "http://www.techhouse.org:5000/gametime?"
            url += "&gameroom=" + gameNum;
	    $.ajax({
		    headers: { 'Access-Control-Allow-Origin' : '*' },
		    url: url,
		    type: "get",
		    success: function (response) {
			$('#modified' + gameNum.toString()).text(response);
			console.log("Success");
		    },
		    error: function (response) {
			console.log("Error");
			console.log(response);
		    }
	    });
}

    
$(document).ready(function(){
    populateGameTime(1);
    populateGameTime(2);
    populateGameTime(3);
    $("#newgame").click({param1: 1}, createGameFunc);
    $("#newgame2").click({param1: 2}, createGameFunc);
    $("#newgame3").click({param1: 3}, createGameFunc);
    $("#rerollgame").click({param1: 1}, rerollGameFunc);
    $("#rerollgame2").click({param1: 2}, rerollGameFunc);
    $("#rerollgame3").click({param1: 3}, rerollGameFunc);
});
</script>
<div class="flex-container flex-justify">
<div>
<h1>THavalon Web App</br></h1>
Players (use spaces to separate names):<input type="text" id="players"></input>
<font color="red"><div id="error-box"></div></font>
</div>
<div>
	<h2> Select desired roles (no selection uses automatic roles for given number of players): </h2>
<div class="column3">
	{% for file in files %}
	<div class="game-div"><input type="checkbox" name="{{ file }}" class="list-roles" value="{{ file }}">{{ file }}</input></div>
	{% endfor %}
</div>
</div>
</div>
</br>
</br>
</br>
<div class="flex-container flex-justify">
<div class="game-div">
<div> --- Game 1 --- </div>
<div>Last created at: <div id="modified1"></div></div>
<button id="newgame" class="game-div" type="button">Create New Game 1</button>
<button id="rerollgame" class="game-div" type="button">Reroll Game 1</button>
<form action="http://techhouse.org:5000/game1">
	<input type="submit" class="game-div" value="View Game 1" />
</form>
</div>
<div class="game-div">
<div> --- Game 2 --- </div>
<div>Last created at:<div id="modified2"></div></div>
<button id="newgame2" class="game-div" type="button">Create New Game 2</button>
<button id="rerollgame2" class="game-div" type="button">Reroll Game 2</button>
<form action="http://techhouse.org:5000/game2">
	<input type="submit" class="game-div" value="View Game 2" />
</form>
</div>
<div class="game-div">
<div> --- Game 3 --- </div>
<div>Last created at:<div id="modified3"></div></div>
<button id="newgame3" class="game-div" type="button">Create New Game 3</button>
<button id="rerollgame3" class="game-div" type="button">Reroll Game 3</button>
<form action="http://techhouse.org:5000/game3">
	<input type="submit" class="game-div" value="View Game 3" />
</form>
</div>
</div>
</body>
</html>
